@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper{
   padding-bottom: 35px !important;
   max-width: 1920px;
   width: 100%;
}
.swiper-slide{
  max-width: 860px;
}
/* .swiper-container {
    overflow: visible;
  } */
  .swiper-pagination {
    z-index: 10 !important;
    max-height: 10px;
   
  }
  .swiper-pagination-bullet{
    width: 6px !important;
    height: 6px !important;
    background:rgba(5, 125, 243, 1) !important;
    margin:0 5px 1.5px auto !important;
  }
  .swiper-pagination-bullet-active{
    width: 10px !important;
    height: 10px !important;
    background:rgba(5, 125, 243, 1) !important;
    margin:0 5px 0 auto !important;
  }
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #faf2f2;
}
::-webkit-scrollbar-thumb {
  background: #057DF3; 
  border-radius: 3px;
}