@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper{
   padding-bottom: 50px !important;
}
.swiper-container {
    overflow: visible;
  }
  .swiper-pagination {
    position:10px !important;
    z-index: 10 !important;
    left: -230px !important;
  }